h1{
   color:red;
   font-family:helvetica;
   font-size: 2em;
}

p{
    color:blue;
    font-family: fantasy;
    margin-left: 20%;   
}
body{
    background-image: url(images.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}